<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" >Home</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [routerLink]="['/add-employee']">Add Employee</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [routerLink]="['/view-all-employee']" >View All</button>
        </li>
        <li class="nav-item">
          <button class="nav-link disabled" aria-disabled="true">About Us</button>
        </li>
      </ul>
</div>
